# ignore build directories
/build*
# ignore CTest /Testing directory
/Testing
# ignroe VS Code settings directory
/.vscode
# ignore build artifacts
*.a
*.dll
*.exe
*.ilk
*.o
*.pdb
*.so
# ignore Flex/Bison generated C/C++ files
*.yy.c
*.yy.cc
*.yy.h
location.hh
